@import "tailwindcss";

* {
  transition: all ease-in-out 0.35s;
  font-family: "Rubik", monospace;
}

.app {
  font-family: "Rubik", monospace;
}

section {
  transition: all ease-in-out 1s;
}

.title {
  font-family: "Great Vibes", serif;
  font-weight: bold;
}

.imgShadow {
  filter: drop-shadow(0px 5px 10px rgba(10, 10, 10, 0.4));
}

.label {
  letter-spacing: 0.6px;
}
.animate-slide {
  animation: slide 20s linear infinite;
}
/* sliding text animation */
@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
